<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>
<body>
     
<h1>{{title}}</h1>
<p>Привет: {{login}}</p>
<h3>Список докторов:</h3>
<ul>
    {{#each doctors}} 
        <li>{{this.name}} - {{this.spec}}</li>
    {{/each}}
</ul>

<h1>Введите данные</h1>
    <form method="post">
        <label>Имя доктора</label><br>
        <input type="text" name="userName" /><br><br>
        <label>Дату записи "YYYY-mm-ddTHH:MM:ss"</label><br>
        <input type="text" name="date" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
    {{#if error}}
        <h3>Имя указано неверно / Запись на данное время недоступно!</h3>
    {{/if}}
</body>
<html>